/*********************************************************************************/
/* colors */
/*********************************************************************************/

/*$architect-green: #69BD08;*/
/*$realestate-red: #BD080F;*/
/*$owner-pink: #BD0869;*/
/*$corporate-blue: #0869BD;*/



/*********************************************************************************/
/* Standard */
/*********************************************************************************/

a {
	color: #0878BD;
}

ul {
	list-style: none;
	padding-left: 10px;
	color: #fff;
}

#home-hero {
	margin-top: 130px;
}


/*********************************************************************************/
/* Header */
/*********************************************************************************/

.logo {
}

.navbar-inverse {
	background-color: rgba(163, 180, 191, 0.7);
	border: none;
	position: fixed;
	width: 100%;
}

#nav-phone {
	padding-bottom: 20px;
}

.navbar-right {
	padding-left: 46px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #2A6496;
}

.navbar-inverse .navbar-nav > li > a:visited {
	color: #2A6496;
}

/*.gradient-line {
	height: 2px;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ED3135), to(#0878BD));
	background-image: -webkit-linear-gradient(left, #ED3135, #0878BD);
	background-image:-moz-linear-gradient(left, #ED3135, #0878BD);
	background-image: -o-linear-gradient(left, #ED3135, #0878BD);
}*/

.navbar-inverse {
  padding-bottom: 20px;
  padding-top: 20px;
}

#achitecture-wrapper {
	background: url('http://gispoint.de/uploads/pics/FARO_Focus3D_X130_2.jpg') no-repeat scroll center center / cover transparent;
	margin-top: 0px;
	padding-top: 120px;
	text-align: center;
	min-height: 700px;
	width: 100%;
}

.zoomOverlay a:hover {
	background-color: #69BD08;
}


/*********************************************************************************/
/* WW */
/*********************************************************************************/

#ww {
	background-color: #fff;
	padding-top: 175px;
}

.architect-green {
	color: #69BD08;
}

/*********************************************************************************/
/* Links */
/*********************************************************************************/

.graybox {
	min-height: 100px;
	background-color: #f2F2F2;
	border-left: 2px solid #FFF;
	border-right: 2px solid #FFF;
	padding-top: 30px;
	padding-bottom: 40px;
}

.graybox > a {
	color: #2A6496;
}

.graybox > a:hover {
	color: #0878BD;
}

.graybox > a:visited {
	color: #A3B4BF;
}

/*********************************************************************************/
/* Testimionials */
/*********************************************************************************/
/*.carousel-indicators {
	background-color: black;
}*/

/*.carousel-indicators .active{
	background-color: black;
}*/

/*********************************************************************************/
/* Footer */
/*********************************************************************************/

#footer h4 {
	padding-bottom: 0;
}

/*********************************************************************************/
/* Media */
/*********************************************************************************/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
		#nav-phone {
			display:none;
	}

	.carousel-indicators {
		/*bottom: -5px;*/
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
		#nav-phone {
			margin-top: -10px;
			display: inline;
			text-align: center;	
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#nav-phone {
	}
}